.center-table {
    margin: 0 auto !important;
    float: none !important;
}

.table-sheet td {
    padding: 1px !important;
}

.table-sheet input {
    height: 2em;
    width:  2em;
}

.table-sheet td.cell-block {
    background-color: #000000 !important;
}

.focusedInput {
    border-color: rgba(82,168,236,.4);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}
